<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Pizzeria de Marco</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos_menu.css">
	</head>
	<body>
		<header>
			<h1>Pizzeria de Marco</h1>
			<nav>
				<ul>
					<li><a href="pizzeria.html">Promociones</a></li>
					<li><a href="menu.html">Menu</a></li> 
					<li><a href="">Servicio a domicilio</a></li>
					<li><a href="">Sucursales</a></li>
				</ul>
			</nav>
		</header>
		<div class="promocion main">
			<h2>Menú</h2>
		</div>
		<center>
			<table>
				<tr>
					<td width="100" class="esp">Sabor</td>
					<td width="100" class="esp">Ingredientes</td>
					<td width="100" class="esp">Foto</td>
				</tr>
				<tr>
					<td>Peperoni</td>
					<td>Peperoni, queso, salsa de tomate.</td>
					<td><img src="../static/img/pizzeria.jpeg"></td>
				</tr>
				<tr>
					<td>Hawaiana</td>
					<td>Peperoni, queso, salsa de tomate.</td>
					<td><img src="../static/img/pizzeria.jpeg"></td>
				</tr>
				<tr>
					<td>Mexicana</td>
					<td>Peperoni, queso, salsa de tomate.</td>
					<td><img src="../static/img/pizzeria.jpeg"></td>
				</tr>
				<tr>
					<td>Italiana</td>
					<td>Peperoni, queso, salsa de tomate.</td>
					<td><img src="../static/img/pizzeria.jpeg"></td>
				</tr>
				<tr>
					<td>Carnivora</td>
					<td>Peperoni, queso, salsa de tomate.</td>
					<td><img src="../static/img/pizzeria.jpeg"></td>
				</tr>
			</table>
		</center>
		<footer>
			<p>Hecho por Marco</p>
		</footer>	
	</body>
</html>