<!DOCTYPE html>
<html>
	<head>
		<title>Pizzeria de David y Marco</title>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</head>
	<body>
		<header>
			<h1>Pizzeria de David</h1>
			<nav>
				<ul>
					<li><a href="">Menu de pizzas</a></li>
					<li><a href="">Historia de las pizzas</a></li> 
					<li><a href="">Servicio a domicilio</a></li>
					<li><a href="">Sucursales</a></li>
				</ul>
			</nav>
		</header>
		<div class="promocion" class="main">
			<img src="../static/img/pizzeria.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<div class="promocion">
			<img src="../static/img/pizzeria 2.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<div class="promocion">
			<img src="../static/img/pizzeria.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<div class="promocion">
			<img src="../static/img/pizzeria.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<div class="promocion">
			<img src="../static/img/pizzeria.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<div class="promocion">
			<img src="../static/img/pizzeria.jpeg">
			<p>Pizzeria de David</p>
		</div>
		<footer>
			<p>Hecho por David Duran Miranda</p>
		</footer>	
	</body>
</html>