<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Pizzeria de Marco</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</head>
	<body>
		<header>
			<h1>Pizzeria de Marco</h1>
			<nav>
				<ul>
					<li><a href="pizzeria.html">Promociones</a></li>
					<li><a href="menu.html">Menu</a></li> 
					<li><a href="">Servicio a domicilio</a></li>
					<li><a href="">Sucursales</a></li>
				</ul>
			</nav>
		</header>
		<div class="promocion main">
			<h2>Servicio a domicilio</h2>
			<p>Estamos para servirle, puede ordenar aquí su pizza.</p>
		</div>
		<form action="" method="">
			<input type="text" name="nombre_cliente" placeholder="Nombre"/>
			<input type="tel" name="telefono" placeholder="Telefono"/>
			<p>Dirección</p>
			<input type="text" name="calle" placeholder="Calle"/>
			<input type="text" name="num" placeholder="Número"/>
			<input type="text" name="colonia" placeholder="Colonia"/>
			<div class="ingredientes">
				<p>Ingredientes</p>
				<input type="checkbox" name="queso" value="Queso"> Queso<br>
				<input type="checkbox" name="peperoni" value="Peperoni" checked> Peperoni<br>
				<input type="checkbox" name="frijoles" value="Frijoles"> Frijoles<br>
			</div>


		</form>

		<footer>
			<p>Hecho por Marco</p>
		</footer>	
	</body>
</html>