body{
	color: #ffffff;
	font-size: 16px;
	background-color: #FF2121;
	text-align: center;
}
header{
	margin-bottom: 1.5em;
	position: fixed;
	background-color: #A90000;
	width: 100%;
}
footer{
	background: #A90000;
	height: 5em;
}
footer p{
	padding: 2em;
}
h1{
	color: yellow;
}
nav ul li{
	display: inline-block;
	list-style: none;
	padding-right: 3em; 
}
nav ul li a {
	color: #ffffff;
	font-weight: bold;
	text-decoration:  none;
}
nav ul li a:hover{
	padding: 1em;
	background: red;
}
table, td, tr{
	border: solid black .19em;
	padding: .5em;
}
.promocion p, .promocion img{ 
	display: inline-block;
}
.main{
	padding-top: 10em;
}

.esp{
	font-weight: bold;
	font-size: 18px;
	color: yellow;
}